<!-- <section ng-controller="newgameController"> -->
    <h2>Category :</h2>
    <ul ng-repeat="category in categoryArray">
      <li>{{category.title}}</li>
      <ul ng-repeat="value in valueArray track by $index">
        <li ng-click="selectValue()"><a href="">{{value}}</a></li>
      </ul>
    </ul>
    <h2>For {{myQuestion.value}} points your question is: {{myQuestion.question}}</h2>

    <input type="text" ng-model="userAnswer" placeholder="Good Luck!">
    <button ng-click="correctAnswer()">Submit Answer</button>
    <button ng-click="newQuestion()">Next Question</button>

    <h2>Your Answer : {{userAnswer}}</h2>
    <h2>Correct Answer : {{rightAnswer}}</h2>
    <h2>Total Score : {{score}}</h2>
<!-- </section> -->
